header {
	text-align: center;
}
footer {
	text-align: center;
}

header {
	font-family: 'Oswald', sans-serif;
}

.required {
	font-weight: bold;
}

a {
	font-weight: normal;
	color: blue;
}

a:link {
	text-decoration: none;
	color: blue;
}

a:visited {
	color: purple;
}

a:hover {
	font-weight: bold
	}

a:active {
	text-decoration: none;
}

thead {
	text-align: center;
}

#left {
	text-align: left;
}

.row {
	background-color: #87CEEB
}