li {
	font-style: italic;
	}
	
.img-circle {
	background-image:url(https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12965138_882005818594549_485989077_n.jpg?ig_cache_key=MTIzODE0NjkxNzI4NTQ5Mzc3NQ%3D%3D.2);
	background-repeat:no-repeat;
	background-position: -160px 0 px;
	height: 480px;
	width: 480px;
	border-radius: 50%;
	overflow: hidden;
	background-size: 500px 480px;
	margin: auto;
	}
	
h4 {
	font-family: 'Oswald', sans-serif;
}

h3 {
	text-align: center;
}

a {
	text-decoration: none;
}

a:link {
	
}

a:visited {
	
}

a:hover {
	text-decoration: underline;
	background-color: #D09CD9;
}

a:active {
	
}

tbody tr:nth-child(even) {
	background-color: #87CEEB;
}

tbody tr:nth-child(odd) {
	background-color: #D09CD9;
}
td {
	font-style: italic;
	text-align: center;
}

thead {
	text-align: center;
	background-color: #d4d4d4;
}

